<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDMX</title>
    
</head>
<body>
    <h1>Ciudad de México</h1>
    <h3>La capital de nuestro país</h3>

    <img = width="500px" src="https://www.aboutespanol.com/thmb/G3Qdn9jxj3GEq9WYOuhljO6clgA=/3199x2132/filters:no_upscale():max_bytes(150000):strip_icc()/Palacio-de-Bellas-Artes2-597b7a3e3df78cbb7a24c28a.jpg" alt="Palacio de Bellas Artes">

    <p>a Ciudad de México es la capital del país, de carácter vibrante, multifacético y siempre en movimiento, es el núcleo, político, económico y cultural de la República Mexicana. La CDMX guarda entre sus calles y largas avenidas los secretos y acontecimientos que han dado forma a la nación.</p>

    <a href="https://cdmx.gob.mx/">Visita la página del Gobierno de la CDMX</a>
</body>


<hr>
<footer>
    <h5>Realizado por:</h5>
    <a href="arantxa.html">Arantxa Pérez E.</a>
</footer>
</html>