<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>

       <!-- Enlazar archivo de css -->

<link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <!-- Elementos en bloque (ocupan todo el espacio disponible a lo largo)-->
    <h1>Título</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, molestiae placeat eius laboriosam error quibusdam obcaecati blanditiis non quae ex praesentium quia officia consequatur? Consequuntur ipsum possimus odio officia eum?</p>
    <hr>

    <!-- Elementos en línea (ocupa únciamente el espacio que abarca el elemento o palabras) -->

    <span>Hola</span>
    <img src="assets/img/descargar.jpg" alt="meme">

    <a href="https://www.youtube.com/?gl=MX&hl=es-419">Youtube</a>
    <a href="index.html">Index</a>

    <!-- Identificador de clase -->
    <span class="saludo"id="saludoInicial">Hola</span>
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- Css en el documento -->
    <style>
        body{
            background-color: aqua;
        }
    </style>

    <div>
        <!-- No tienen una función en sí, son elementos en bloque, se usan para crear secciones en una página -->
    </div>

    <!-- Javascript en el documento -->
    <script>
        alert("Hola mundo")
    </script>

    <!-- Enlazar archivo .js -->

    <script src="assets/js/main.js"></script>
</body>
</html>